fabric_workspace/Driver_Ingestion.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "f92286e5-d15a-9c42-404b-1ae2ca01fe02",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Orchestration",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Orchestration').output",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "ce827ed2-bb66-a103-46d1-8b85296a3441",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "notebook_id": {
                    "value": {
                      "value": "@item().id",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Notebook1",
              "dependsOn": []
            }
          ]
        },
        "name": "Executor_Notebook",
        "dependsOn": [
          {
            "activity": "Orchestration",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}